.constructor {
    display: grid;
    grid-template-columns: 50px repeat(3, calc((100% - 50px) / 3)) ;
    grid-template-rows: 90vh;

}

.constructor > *:first-child {
    grid-column-start: 2;
}

.constructor > * {
    border: 1px solid red;
}