.keywords_section {
    border: 1px solid green;
    padding: 20px;
}

.keywords_section_article {
    width: 100%;
}

.keywords_section_item {
    color: #fff;
    padding: 5px;
    background: rgba(16, 18, 27, 0.39);
    border-radius: 5px;
    max-width: 100%;
    margin-bottom: 5px;
}